.share{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px -2px 21px -1px rgba(74,72,72,0.59);
    -webkit-box-shadow: 0px -2px 21px -1px rgba(74,72,72,0.59);
    -moz-box-shadow: 0px -2px 21px -1px rgba(74,72,72,0.59);
}
.shareWrapper{
    padding:12px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border: none;
    width: 80%;
}
.shareInput:focus{
    outline: none; 
}

.shareHr{
    margin:15px;
}

.shareImageContainer{
    padding: 0px, 20px, 10px, 20px;
    position: relative;
}

.shareImage{
    width: 100%;
    margin-bottom: 8px;
    object-fit: cover;
}

.shareCancelImg{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.7
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 12px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 10px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-right: 12px;
    background-color: #D8315B;
    color: white;
    font-weight: 500;
    cursor: pointer;
}